body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c35;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40pt;
  margin: 0 auto;
  padding: 0;
  margin-top: 56px;
  text-align: center;
  color: #f1a5ab;
  max-width: 720px;
  min-width: 540px;
}

.container {
  margin: 48px auto 40px auto;
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 114px;
  background-color: #7f7f7f;
  border-radius: 4px;
  cursor: pointer;
}

.container a {
  width: 48px;
  height: 48px;
  margin: 8px;
  border-radius: 2px;
}

#light {
  background-color: #ffffff;
}

#dark {
  background-color: #282c35;
}

p {
  padding: 40px;
  font-size: 16pt;
  line-height: 1.5em;
  font-family: 'Merriweather', serif;
  width: 480px;
  margin: 0 auto;
  text-align: center;
  color: #d4d4d4;
  cursor: pointer;
}

.clock {
  margin-top: 0 auto;
  color: #91c5d3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32pt;
  letter-spacing: 6px;
  text-align: center;
}